In [2]:
import datetime

dt = datetime.date(year=2020, month=12 , day=14)
dt2 = datetime.time(hour= 7, minute= 30 , second=15)
dt3 = datetime.datetime(year=2020, month=12 , day=14,hour= 7, minute= 30 , second=15 )

In [3]:
print(dt)
print(dt2)
print(dt3)

2020-12-14
07:30:15
2020-12-14 07:30:15

In [4]:
print(dt.day)
print(dt.month)
print(dt.year)


print(dt2.hour)
print(dt2.minute)
print(dt2.second)

14
12
2020
7
30
15

In [5]:
hoje = datetime.date.today() # retorna o dia de hoje
agora = datetime.datetime.now() # retorna o dia e horario de agora

print(hoje)
print(agora)
print(hoje.day) #retorna um atributo do objeto instanciado

2021-09-26
2021-09-26 20:51:54.634199
26

In [6]:
data_str = "2021-08-16"  # YYYY-MM-DD (representação ISO861)

# Para obter um objeto datetime.date a partir da formatação ISO861, basta:
print(datetime.date.fromisoformat(data_str))
# a função strptime retorna uma data dependendo do formato
data_str2 = "08-16-2021 14:45:37"
formato = "%m-%d-%Y %H:%M:%S"
print(datetime.datetime.strptime(data_str2, formato))

data_str3 = "16/08/06"
formato2 = "%d/%m/%y"
print(datetime.datetime.strptime(data_str3, formato2))

2021-08-16
2021-08-16 14:45:37
2006-08-16 00:00:00

In [7]:
dt4 = datetime.datetime(2020,3,15)
string = str(dt4)
print(string)
print(type(string))

2020-03-15 00:00:00
<class 'str'>

In [8]:
import pandas as pd

In [9]:
data = pd.Timestamp(datetime.datetime(2021,1,1))
data2 = pd.Timestamp('2021-01-01')
print(data, data2)
print(data == data2)

2021-01-01 00:00:00 2021-01-01 00:00:00
True

In [10]:
print(data.year)
print(data.month)
print(data.day)
print(data.dayofweek)
print(data.month_name())
print(data.day_name())

2021
1
1
4
January
Friday

In [11]:
data3 = pd.Period('2021-03')
print(data3)
print(data3.freq) # obtemos qual é a frequência do objeto
print(data3.asfreq("D")) # asfreq converte a frequência
print(data3.asfreq("Y")) # asfreq converte a frequência

2021-03
<MonthEnd>
2021-03-31
2021

In [12]:
seq_datas = pd.date_range('2021-01', periods=12, freq='M') # freq mensal
print(seq_datas)
seq_datas2 = pd.date_range('2021-01',periods=60, freq='D' ) #freq diária
print(seq_datas2)
seq_datas3= pd.date_range(start='2021-01',end='2021-03') #freq diária é o padrão quando não é explicitada 
print(seq_datas3)
seq_datas4= pd.date_range(end='2021-03', periods=60) #podemos só definir o fim e o número de períodos
print(seq_datas4)

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='M')
DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
               '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24',
               '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31', '2021-02-01',
               '2021-02-02', '2021-02-03', '2021-02-04', '2021-02-05',
               '2021-02-06', '2021-02-07', '2021-02-08', '2021-02-09',
               '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-13',
               '2021-02-14', '2021-02-15', '2021-02-16', '2021-02-17',
               '2021-02-18', '2021-02-19', '2021-02-20', '2021-02-21',
               '2021-02-22', '2021-02-23', '2021-02-24', '2021-02-25',
               '2021-02-26', '2021-02-27', '2021-02-28', '2021-03-01'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
               '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24',
               '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31', '2021-02-01',
               '2021-02-02', '2021-02-03', '2021-02-04', '2021-02-05',
               '2021-02-06', '2021-02-07', '2021-02-08', '2021-02-09',
               '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-13',
               '2021-02-14', '2021-02-15', '2021-02-16', '2021-02-17',
               '2021-02-18', '2021-02-19', '2021-02-20', '2021-02-21',
               '2021-02-22', '2021-02-23', '2021-02-24', '2021-02-25',
               '2021-02-26', '2021-02-27', '2021-02-28', '2021-03-01'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
               '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24',
               '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28',
               '2021-01-29', '2021-01-30', '2021-01-31', '2021-02-01',
               '2021-02-02', '2021-02-03', '2021-02-04', '2021-02-05',
               '2021-02-06', '2021-02-07', '2021-02-08', '2021-02-09',
               '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-13',
               '2021-02-14', '2021-02-15', '2021-02-16', '2021-02-17',
               '2021-02-18', '2021-02-19', '2021-02-20', '2021-02-21',
               '2021-02-22', '2021-02-23', '2021-02-24', '2021-02-25',
               '2021-02-26', '2021-02-27', '2021-02-28', '2021-03-01'],
              dtype='datetime64[ns]', freq='D')

In [13]:
seq_datas[0]

Timestamp('2021-01-31 00:00:00', freq='M')

----

# Série Temporal: preços de fechamento ajustado PETR4

In [14]:
petr4 =pd.read_csv('PETR4.csv')

In [15]:
petr4.head()

         data   PETR4
0  2015-01-02  7.9297
1  2015-01-05  7.2943
2  2015-01-06  7.0571
3  2015-01-07  7.3451
4  2015-01-08  7.7772

In [16]:
petr4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1638 entries, 0 to 1637
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    1638 non-null   object
 1   PETR4   1638 non-null   float64
dtypes: float64(1), object(1)
memory usage: 25.7+ KB

In [17]:
petr4['data'] = pd.to_datetime(petr4['data'])

In [18]:
print(petr4.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1638 entries, 0 to 1637
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    1638 non-null   datetime64[ns]
 1   PETR4   1638 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 25.7 KB
None

In [19]:
petr4.set_index('data',inplace=True)

In [21]:
print(petr4['2015']) # seleciona apenas os dados de 2015

             PETR4
data
2015-01-02  7.9297
2015-01-05  7.2943
2015-01-06  7.0571
2015-01-07  7.3451
2015-01-08  7.7772
...            ...
2015-12-22  5.7524
2015-12-23  5.8710
2015-12-28  5.6762
2015-12-29  5.6677
2015-12-30  5.6762

[246 rows x 1 columns]

<ipython-input-21-b2aca8f3671c>:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(petr4['2015']) # seleciona apenas os dados de 2015

In [22]:
print(petr4['2015':'2017'])  # seleciona apenas os dados de 2015 a 2017

              PETR4
data
2015-01-02   7.9297
2015-01-05   7.2943
2015-01-06   7.0571
2015-01-07   7.3451
2015-01-08   7.7772
...             ...
2017-12-21  13.4364
2017-12-22  13.3432
2017-12-26  13.5296
2017-12-27  13.5974
2017-12-28  13.6397

[739 rows x 1 columns]

In [23]:
print(petr4['2015-06':'2015-08'])  # seleciona apenas os dados de junho a agosto de 2015

              PETR4
data
2015-06-01  10.4797
2015-06-02  10.8779
2015-06-03  10.8694
2015-06-05  10.6407
2015-06-08  10.6491
...             ...
2015-08-25   6.6928
2015-08-26   6.8707
2015-08-27   7.5315
2015-08-28   7.6247
2015-08-31   7.7856

[64 rows x 1 columns]

In [26]:
print(petr4['2015-06-01':'2015-07-20'])  # seleciona apenas os dados do dia 01 de junho a 20 de julho  de 2015

              PETR4
data
2015-06-01  10.4797
2015-06-02  10.8779
2015-06-03  10.8694
2015-06-05  10.6407
2015-06-08  10.6491
2015-06-09  10.9880
2015-06-10  11.0558
2015-06-11  11.0558
2015-06-12  11.0304
2015-06-15  11.0050
2015-06-16  11.3099
2015-06-17  11.1744
2015-06-18  11.3862
2015-06-19  11.1575
2015-06-22  11.1829
2015-06-23  10.9880
2015-06-24  11.1829
2015-06-25  10.6746
2015-06-26  11.1913
2015-06-29  10.8016
2015-06-30  10.7677
2015-07-01  10.3187
2015-07-02  10.4204
2015-07-03   9.9375
2015-07-06   9.7257
2015-07-07   9.9799
2015-07-08   9.7850
2015-07-10   9.9883
2015-07-13  10.0138
2015-07-14  10.1662
2015-07-15   9.9968
2015-07-16  10.0985
2015-07-17   9.6579
2015-07-20   9.1411

In [28]:
petr4.loc['2015']

             PETR4
data
2015-01-02  7.9297
2015-01-05  7.2943
2015-01-06  7.0571
2015-01-07  7.3451
2015-01-08  7.7772
...            ...
2015-12-22  5.7524
2015-12-23  5.8710
2015-12-28  5.6762
2015-12-29  5.6677
2015-12-30  5.6762

[246 rows x 1 columns]

In [30]:
petr4.pct_change()

               PETR4
data
2015-01-02       NaN
2015-01-05 -0.080129
2015-01-06 -0.032519
2015-01-07  0.040810
2015-01-08  0.058828
...              ...
2021-08-13  0.008593
2021-08-16 -0.024191
2021-08-17 -0.000004
2021-08-18 -0.008879
2021-08-19 -0.005599

[1638 rows x 1 columns]

In [31]:
petr4.pct_change(10) #retorno de 10 dias

               PETR4
data
2015-01-02       NaN
2015-01-05       NaN
2015-01-06       NaN
2015-01-07       NaN
2015-01-08       NaN
...              ...
2021-08-13  0.090675
2021-08-16  0.084440
2021-08-17  0.066664
2021-08-18  0.080120
2021-08-19 -0.004350

[1638 rows x 1 columns]

In [32]:
petr4.diff()

             PETR4
data
2015-01-02     NaN
2015-01-05 -0.6354
2015-01-06 -0.2372
2015-01-07  0.2880
2015-01-08  0.4321
...            ...
2021-08-13  0.2360
2021-08-16 -0.6701
2021-08-17 -0.0001
2021-08-18 -0.2400
2021-08-19 -0.1500

[1638 rows x 1 columns]

In [33]:
petr4.diff(3)

             PETR4
data
2015-01-02     NaN
2015-01-05     NaN
2015-01-06     NaN
2015-01-07 -0.5846
2015-01-08  0.4829
...            ...
2021-08-13  1.0099
2021-08-16 -0.0283
2021-08-17 -0.4342
2021-08-18 -0.9102
2021-08-19 -0.3901

[1638 rows x 1 columns]

In [35]:
petr4.rolling(window=30).mean() #média móvel de 30 dias

                PETR4
data
2015-01-02        NaN
2015-01-05        NaN
2015-01-06        NaN
2015-01-07        NaN
2015-01-08        NaN
...               ...
2021-08-13  26.068993
2021-08-16  26.052007
2021-08-17  26.045397
2021-08-18  26.067910
2021-08-19  26.073467

[1638 rows x 1 columns]

In [43]:
petr4.rolling(window=30).std() # desv. padr móvel de 30 dias

               PETR4
data
2015-01-02       NaN
2015-01-05       NaN
2015-01-06       NaN
2015-01-07       NaN
2015-01-08       NaN
...              ...
2021-08-13  0.839203
2021-08-16  0.813161
2021-08-17  0.804024
2021-08-18  0.815404
2021-08-19  0.818823

[1638 rows x 1 columns]

In [46]:
petr4.rolling(window=30).max() # máximo "móvel" de 30 dias

              PETR4
data
2015-01-02      NaN
2015-01-05      NaN
2015-01-06      NaN
2015-01-07      NaN
2015-01-08      NaN
...             ...
2021-08-13  27.7002
2021-08-16  27.7002
2021-08-17  27.7002
2021-08-18  27.7002
2021-08-19  27.7002

[1638 rows x 1 columns]

In [47]:
petr4.expanding().max() # máximo acumulado

              PETR4
data
2015-01-02   7.9297
2015-01-05   7.9297
2015-01-06   7.9297
2015-01-07   7.9297
2015-01-08   7.9297
...             ...
2021-08-13  28.4144
2021-08-16  28.4144
2021-08-17  28.4144
2021-08-18  28.4144
2021-08-19  28.4144

[1638 rows x 1 columns]

In [51]:
petr4.cummax() # máximo acumulado

              PETR4
data
2015-01-02   7.9297
2015-01-05   7.9297
2015-01-06   7.9297
2015-01-07   7.9297
2015-01-08   7.9297
...             ...
2021-08-13  28.4144
2021-08-16  28.4144
2021-08-17  28.4144
2021-08-18  28.4144
2021-08-19  28.4144

[1638 rows x 1 columns]